.expense {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.expense-input {
    position: relative;
    width: 50%;
}

.expense-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 3px 30px;
    font-size: .90rem;
}

.expense-input img {
    width: .90rem;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.expense a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.expense a img {
    width: 1rem;
    margin-right: 5px;
}


