.expense-list {
    width: 100%;
    list-style: none;
}

.expense-list li {
    position: relative;
    width: 100%;
    padding: 10px 20px 10px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}


.expense-list_image {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense-list_image img {
    width: 3rem;
}

.expense-list__row {
    width: 88%;
    display: flex;
    flex-direction: column;
}

.expense-list__firstRow {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.expense-list__firstRow img {
    width: .80rem;
    cursor: pointer;
}

.expense-list__secondRow {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-list__secondRow input {
    border: none;
    background: transparent;
    outline: none;
}

.expense-list__secondRow p:last-child {
    font-size: 1.2rem;
}

.expense-list li span {
    position: absolute;
    display: block;
    width: 1%;
    top: 0;
    right: 0;
    bottom: 0;
}